<div class="personGridWrapper">
  
  <!-- The line below reads assign the varaible "selectedPerson" in app-c-people-details to the variable "selectedPerson" in this component.-->
  <div class="personDetails">
    <app-c-people-details [allPeople]="allPeople" [selectedPerson]="selectedPerson"></app-c-people-details>
  </div>

  <div>&nbsp;</div>

  <div class="personList">
    <app-c-people-list [allPeople]="allPeople" [selectedPerson]="selectedPerson" ></app-c-people-list>
  </div>

</div>
