h1 {
  font-size: 30px;
  color: grey;
  font-weight: bold;
}

.menuItem {
  text-decoration: underline;
}

.mySelectedPerson {
  color: magenta;
  background-color: #777777;
}

.personGridWrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 150px;
}

.personGridWrapper > div {
  background: #BBBBBB;
  border: 2px solid #FFFFFF
}

.personHeader {
  grid-column-start: 1;
  grid-column-end: 4;
}

.personList {
  grid-column-start: 2;
  grid-column-end: 3;
}