.menuItem {
  text-decoration: underline;
}

.mySelectedPersonInMenu {
  color: #FFFFFF;
  background-color: #777777;
}

.personDetails {
  grid-column-start: 1;
  grid-column-end: 4;
}

.personGridWrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 30px 200px 100px;
  grid-template-rows: 150px;
}

.personGridWrapper > div {
  border: 2px solid #FFFFFF
}

.personList {
  grid-column-start: 2;
  grid-column-end: 3;
}

.personList > div {
  padding: 10px;
  cursor: pointer;
}