h1 {
  font-size: 30px;
  color: grey;
  font-weight: bold;
}

.menuItem {
  text-decoration: underline;
}

.mySelectedPerson {
  color: magenta;
  background-color: #777777;
}

.personGridWrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px auto-fit;
}

.personGridWrapper > div {
  background: #BBBBBB;
  border: 2px solid #FFFFFF
}